
@import "tailwindcss";
/* Theme Colors */
:root {
  --foreground: #000000;   /* Always black */
  --background: #ffffff;   /* Always white */
  --gray: #8a8a8a;
}

/* Base Styling */
body {
  background-color: var(--background);
  color: var(--foreground);

}
@media (min-width: 768px) {
  body {
    cursor: none;
  }
}
/* Boxy UI (no border radius anywhere) */
/* * {
  border-radius: 0 !important;
} */

/* Custom Cursor */
.cursor {
  /* color: var(--foreground); */
  width: 42px;
  height: 42px;
  border: 2px solid #000000;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference; /* invert color effect */
background-color: #ffffff; 
}
